<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230194979617-s8dl7h7rip023m1alo9fumj9pf793oee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230194979617-s8dl7h7rip023m1alo9fumj9pf793oee</string>
	<key>API_KEY</key>
	<string>AIzaSyDneD0MNhhXw5rxjg-aMSR01QlX4U7kvX0</string>
	<key>GCM_SENDER_ID</key>
	<string>230194979617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookingSocialApp</string>
	<key>PROJECT_ID</key>
	<string>cookingsocialapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cookingsocialapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230194979617:ios:048522f253e6e6ad0b1460</string>
</dict>
</plist>